<div class="page-sidebar-wrapper">
    <!-- SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- RESPONSIVE QUICK SEARCH FORM -->
            @*<li class="sidebar-search-wrapper">
                <form class="sidebar-search  sidebar-search-bordered" action="page_general_search_3.html" method="POST">
                    <a href="javascript:;" class="remove">
                        <i class="icon-close"></i>
                    </a>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
            </li>*@
            <li class="nav-item start ">
                <a href="/Admin" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Trang chủ</span>
                </a>
            </li>
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-files-o"></i>
                    <span class="title">Nội dung</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="/Admin#!/post" class="nav-link ">
                            <i class="fa fa-pencil-square-o"></i>
                            <span class="title">Quản lý Bài viết</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/Admin#!/category-post" class="nav-link ">
                            <i class="fa fa-folder-open"></i>
                            <span class="title">Quản lý Danh mục</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-building-o"></i>
                    <span class="title">Dự án</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="/Admin#!/property" class="nav-link ">
                            <i class="fa fa-pencil-square-o"></i>
                            <span class="title">Quản lý Bất động sản</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/Admin#!/category-project" class="nav-link ">
                            <i class="fa fa-folder-open"></i>
                            <span class="title">Quản lý Danh mục</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-database"></i>
                    <span class="title">Thư viện</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item start ">
                        <a href="/Admin#!/video" class="nav-link ">
                            <i class="fa fa-video-camera"></i>
                            <span class="title">Video</span>
                        </a>
                    </li>
                    <li class="nav-item start ">
                        <a href="/Admin#!/album-image" class="nav-link ">
                            <i class="fa fa-image"></i>
                            <span class="title">Album Hình ảnh</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item start ">
                <a href="/Admin#!/infocompany" class="nav-link nav-toggle">
                    <i class="fa fa-info-circle"></i>
                    <span class="title">Thông tin Doanh nghiệp</span>
                </a>
            </li>
        </ul>
    </div>
</div>
