
<div class="menu_wrapper">
    <nav id="menu">
        <ul id="menu-main-menu" class="menu">
            <li>
                <a href="/" ><span><i class="fa fa-home"></i> Trang chủ</span></a>
            </li>
            <li>
                <a href="/gioi-thieu"><span><i class="fa fa-bookmark" aria-hidden="true"></i> Giới thiệu</span></a>
            </li>
            <li>
                <a href="/du-an"><span><i class="fa fa-building-o" aria-hidden="true"></i> Dự án</span></a>
            </li>
            <li>
                <a href="javascript:;"><span><i class="fa fa-book" aria-hidden="true"></i> Cẩm nang</span></a>
                <ul class="sub-menu">
                    <li>
                        <a href="/bai-viet/phong-thuy"><span>Phong thủy</span></a>
                    </li>
                    <li>
                        <a href="/bai-viet/kien-truc"><span>Kiến trúc</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><span><i class="fa fa-image" aria-hidden="true"></i> Thư viện</span></a>
                <ul class="sub-menu">
                    <li>
                        <a href="/hinh-anh"><span>Hình ảnh</span></a>
                    </li>
                    <li>
                        <a href="/video"><span>Videos</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><span><i class="fa fa-newspaper-o" aria-hidden="true"></i> Tin tức</span></a>
                <ul class="sub-menu">
                    <li>
                        <a href="/bai-viet/thi-truong"><span>Thị trường</span></a>
                    </li>
                    <li>
                        <a href="/bai-viet/du-an"><span>Dự án</span></a>
                    </li>
                    <li>
                        <a href="/bai-viet/noi-bo"><span>Nội bộ</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;"><span>@*<i class="fa fa-user-circle-o" aria-hidden="true"></i>*@ Tuyển dụng</span></a>
                <ul class="sub-menu">
                    <li>
                        <a href="/bai-viet/chinh-sach-tuyen-dung"><span>Chính sách tuyển dụng</span></a>
                    </li>
                    <li>
                        <a href="/bai-viet/thong-tin-tuyen-dung"><span>Thông tin tuyển dụng</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/lien-he"><span>@*<i class="fa fa-map" aria-hidden="true"></i>*@ Liên hệ</span></a>
            </li>
        </ul>
    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
</div>